
@media(max-width: 1000px){
    #timer{
        position : absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom : 0%;
        left : 0%;
        width : 20%;
        height : 10%;
      }
}




@media (min-width : 1001px){
    #timer{
        position : absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom : 2%;
        left : 2%;
        width : 3.125em;
        height : 3.125em;
    }
}