body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #4247E7;
}



.text {
  top:10vh;
  text-align: center;
  margin-bottom: 20px;
  color:white;
}

.button-container {
  display: flex;
  justify-content: center;
}
.deco {
  width: 20vh;
  height: 20vh;
  position: absolute;
  right: 10vw;
  bottom:0;


}
.logo {
  width: 20vh;
  height: 20vh;
  position:absolute;
  left: 10vw;
  bottom:0;
}

  .title {
    font-size: 10vw;
  }

  .noms {
    font-size: 3vw;
  }

  .button {
    font-size: 3vw;
    background-color: #FFE500;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 20px;

    cursor: pointer;
  }
  .button:hover {
    background-color: #a09000;
  }
