.container {
  flex-direction: column;
  align-items: center;
}

.info-container {
  margin-bottom: 20px;
}

.text {
  text-align: center;
}


.subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
}

.text-container {
  margin: 20px;
  background-color: #3296F1;
  display:inline-block;
  border-radius:16px;
  text-align: center;
}

.info {
  margin: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.rules {
  margin-top: 5px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  font-size: 14px;
}


.deco2 {
  position:relative;
  width: 20vh;
  height: 20vh;
  margin: 20px;
}

.rules-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.numero {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FFE500;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.button:hover {
  background-color: #a09000;
}
