body{
  z-index:11;
}
.card {
  margin: 20px;
  padding: 20px;
  padding-bottom:50px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 3%);
  width: calc(100vw-40px);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 747px) {
  .card {
    width: 100%;
  }
}
.card-footer {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #cbd2d9;
}

.footer-text {
  margin: 0px;
  width: 30%;
  text-align: center;
}


.un-like {
  font-size: 14px;
  color: #cbd2d9;
  margin-right: 5px;
}

.comment {
  font-size: 14px;
  margin-right: 5px;
  color: #333333;
}

.post-details-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  color: #171f46;
  margin: 0px;
}
.description {
  font-family: Roboto;
  font-style: normal;
  margin-top:70px;
  font-weight: 300;
  font-size: 14px;
  color: #171f46;
}

.children-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.post-image {
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
 


}
.children-container::before{
  content: "";
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, transparent,black);
  z-index: 1;
}

.heart-image {
  width: 40px; 
  height: 40px; 
  position: relative;
  top:-90px;
  left:-10px;
  margin: -150px 0px 0px 90%;
  z-index:8;
}
.like{
  position: relative;
  color: black;
  top:27.5px;
  left:-10px;
  margin: -150px 0px 0px 85%;
  font-weight:1000; 
  
}
#timer {
  position: relative;
  top: -70px;
  height: 0px;
  margin: -10px 0px 0px 20px;
}

